<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TestEdit</title>
</head>

<body>
    <div style="text-align: center;">
        <form action="/saveEditUser/<%= data.id %>" method="POST">
            <div style="padding-top: 30px;">
                <label for="username">ชื่อผู้ใช้งาน</label>
                <br>
                <input type="text" placeholder="กรอกชื่อผู้ใช้งาน" name="username" value="<%= data.username %>" required>
                <br>
                <label for="password">รหัสผ่าน</label>
                <br>
                <input type="password" placeholder="กรอกรหัสผ่าน" name="password" id="password" value="<%= data.password %>" required>
                <br>
                <label for="firstname">ชื่อจริง</label>
                <br>
                <input type="text" placeholder="กรอกชื่อจริง" name="firstname" value="<%= data.firstname %>" required>
                <br>
                <label for="lastname">นามสกุล</label>
                <br>
                <input type="text" placeholder="กรอกนามสกุล" name="lastname" value="<%= data.lastname %>" required>
                <br>
                <label for="email">อีเมลล์</label>
                <br>
                <input type="email" placeholder="กรอกอีเมลล์" name="email" value="<%= data.email %>" required>
                <br>
                <label for="phone">เบอร์โทรศัพท์</label>
                <br>
                <input type="tel" placeholder="กรอกเบอร์โทรศัพท์" name="phone" value="<%= data.phone %>" required>
                <br>
                <label for="birthday">วันเกิด</label>
                <br>
                <input type="date" name="birthday" value="<%= dateNow %>" required>
                <br>
                <label for="province">จังหวัด</label>
                <br>
                <input type="text" placeholder="กรอกจังหวัด" name="province" value="<%= data.province %>" required>
                <br>
                <label for="district">อำเภอ</label>
                <br>
                <input type="text" placeholder="กรอกอำเภอ" name="district" value="<%= data.district %>" required>
                <br>
                <div>
                    <button type="submit">บันทึก</button>
                </div>
                <div>
                    <button type="button" onclick="window.history.back();">กลับ</button>
                </div>

            </div>
        </form>
    </div>

</body>

</html>