<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>

<body>
    <div style="text-align: center;">

        <p>
            <%= data.username %>
                <br>
                <%= data.firstname %>
                    <br>
                    <%= data.lastname %>
                        <br>
                        <%= data.email %>
                            <br>
                            <%= data.phone %>
                                <br>
                                <%= data.birthday %>
                                    <br>
                                    <%= data.province %>
                                        <br>

                                        <%= data.district %>
                                            <br>
                                            <%= data.doctype %>
                                                <br>

        </p>
    </div>
</body>

</html>