<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>

<body>
    <div style="text-align: center;">
        <h1>
            <%= doctype %>
        </h1>
        <p>
            <%= username %>
                <br>
                <%= password %>
                    <br>
                    <%= firstname %>
                        <br>
                        <%= lastname %>
                            <br>
                            <%= email %>
                                <br>
                                <%= phone %>
                                    <br>
                                    <%= birthday %>
                                        <br>
                                        <%= province %>
                                            <br>
                                            <%= district %>
                                                <br>
        </p>
    </div>
</body>

</html>